<%- include('../partial/header') %>

<div class="container" style="margin-right: 2px;">
    <div class="row pt-5">
        <div class="col-lg-7">
            <div class="mb-4 card card-small">
                <div class="border-bottom text-center card-header">
                    <div class="mb-3 mx-auto">
                        <img src="/images/my_image_big.jpg" alt="Rahul"  width="100">
                    </div>
                    <h4 class="mb-0"> Rahul Sharma </h4>
                    <span class="text-muted d-block mb-2">Goa, India</span>
                    <div class="social-media">
                        <a href="https://www.instagram.com/rahul__sharma__468/" target="_blank" class="mr-2"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/rahul-sharma-58b213163/" target="_blank" class="mr-2"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/Rahulsharma468" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="p-4 list-group-item">
                        <strong class="text-muted d-block mb-2 text-center">About</strong>
                        <span>
                            A 3rd year undergradute student NMAM Institute Of Technology. Currently doing internship at Avysh.
                        </span>
                    </li>
                    <li class="p-4 text-center list-group-item">
                        <a href="http://rahul-sharma-portfolio.herokuapp.com/" target="_blank"><button class="btn btn-outline-accent btn-sm">Know more</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
    var preloader = document.getElementById('loader');
    preloader.style.display = 'none';
</script>

<%- include('../partial/footer') %>
